<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>897963167446-5679647gtr2ch5bki1brgeco66iaqc64.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.897963167446-5679647gtr2ch5bki1brgeco66iaqc64</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>897963167446-1jku25rkthabpmfmodf7uk4m7rhdikbl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAmcQSucUtEy1tcLidxFx5gcJWiGev9uhw</string>
	<key>GCM_SENDER_ID</key>
	<string>897963167446</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.TapToWin</string>
	<key>PROJECT_ID</key>
	<string>lucas-app-64f13</string>
	<key>STORAGE_BUCKET</key>
	<string>lucas-app-64f13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:897963167446:ios:c1fad36169b550aa2a0377</string>
	<key>DATABASE_URL</key>
	<string>https://lucas-app-64f13.firebaseio.com</string>
</dict>
</plist>